apiVersion: v1
kind: Secret
metadata:
  name: environment-variables-workers-secret
  namespace: kaldi-test
type: Opaque
stringData:
  AZURE_STORAGE_ACCOUNT: 
  AZURE_STORAGE_ACCESS_KEY:
  AZURE_CONTAINER:
  MASTER:
  NAMESPACE: 
  RUN_FREQ: 


---

apiVersion: v1
kind: Secret
metadata:
  name: environment-variables-master-secret
  namespace: kaldi-test
type: Opaque
stringData:
  AZURE_STORAGE_ACCOUNT: 
  AZURE_STORAGE_ACCESS_KEY: 
  AZURE_CONTAINER:
  NAMESPACE: 
  MASTER: 




